{% extends "layout.html.twig" %}

{% block title %} Author {{ author.fullName }} {% endblock %}

{% block hea %}
  <p>QuoteDico
   <p>receuil de citations libre que chacun peut ameliorer</p>
{% endblock %}

{% block content %}

<article>
    <h2> Liste des citations de {{ author.fullName }}</h2>

    <div id="quote_total" class="text-center">
      {{ total_quotes }} citation(s) pour {{ author.fullName }} sur un total de {{ quote_total }}
      <a href="/">citations</a>
    </div>

{% for quote in quotes %}
    <p><blockquote>

    {{ quote.summary }}<br>

      </blockquote>
    </p>
{% endfor %}
</article>

{% endblock %}
