{% extends "layout.html.twig" %}

{% block title %} QuoteDico - Home {% endblock %}

{% block jumbotron %}
<section class="jumbotron">
  <div class="container">
      <div class="col-xs-12 text-center">
          <h1>
            ... pour des citations inoubliables
          </h1>
      </div>

    <div class="col-xs-12 text-center" id="call-to-action-home">
    <!-- put buttons here ... -->
      <!--  <h2>
            {{ quote_total }}
            <a href="/quotes" title="Liste des citations">citations</a>,
            {{ author_total }} auteurs, et ca continue ...
        </h2>
        <p> <small> grace aux contributions de nombreux
                <a href="/contributors">volontaires</a>
                <!--pour qui nous sommes tres reconnaissant-->
           <!-- </small>
        </p-->

    </div>
  </div>
</section>

<div id="quote_total" class="text-center">
  Déjà {{ quote_total }} citations de {{ author_total }}
  <a href="/#" title="Afficher tous les auteurs">auteurs</a>
  différents; et ça continue...
</div>

{% endblock %}

{% block content %}
   {% for quote in quotes %}

    <blockquote>{{ quote.summary }}<br>
        <small>
          <a class="" href="/author/{{ quote.author.id }}">
            {{ quote.author.fullName }}
          </a>
        </small>
    </blockquote>

    {% endfor %}

{% endblock %}

{% block tags %}
  {% for category in categories %}
    <a href="#" title="Liste des citations de la categorie {{ category.name }}">
    {{ category.name }}</a>,
  {% endfor %}
{% endblock %}
