{% extends "layout.html.twig" %}

{% block title %} QuoteDico - Home {% endblock %}

{% block jumbotron %}
<section class="jumbotron">
  <div class="container">

    <div class="col-md-8">
      <p>Construisons ensemble le recueil de nos citations favorites</p>
      <p>libre et collaboratif</p>
    </div>

    <div class="col-md-4">
      <h3>Formulaire ici</h3>
    </div>

    <h2 id="numbers" class="col-md-12 text-center">
    {{ quote_total }} <a href="/quotes" title="Liste des citations">citations</a>,
    {{ author_total }} <a href="">auteurs</a>,
    # <a href="/contributors">contibuteurs</a> et ca continue ...
    </h2>
  </div>
</section>

{% endblock %}

{% block content %}

   {% for quote in quotes %}
    <p>
    <blockquote>{{ quote.summary }}<br>
        <small>
          <a class="" href="/author/{{ quote.author.id }}">
          {{ quote.author.fName }} {{ quote.author.mName }} {{ quote.author.lName }}
          </a>
        </small>
        <!--p>Ajouté le {{ quote.date | date('d/m/Y') }} dans la categorie
         {#{ quote.theme }#}
         </p-->
      </blockquote>
    </p>
    {% endfor %}

{% endblock %}
