{% extends "layout.html.twig" %}

{% block title %} QuoteDico - Home {% endblock %}

{% block hea %}

  <h2 class="site-title">Citation du jour</h2>
   <blockquote>  {{ dayQ.summary }}
   <small>
     <a class="" href="/author/{{ dayQ.author.id }}">
     {{ dayQ.author.fName }} {{ dayQ.author.mName }} {{ dayQ.author.lName }}
     </a>
   </small>
   </blockquote>
{% endblock %}

{% block content %}

   {% for quote in quotes %}
    <p>
    <blockquote>{{ quote.summary }}<br>
        <small>
          <a class="" href="/author/{{ quote.author.id }}">
          {{ quote.author.fName }} {{ quote.author.mName }} {{ quote.author.lName }}
          </a>
        </small>
        <p>Ajouté le {{ quote.date | date('d/m/Y') }} dans la categorie
         {#{ quote.theme }#}
         </p>
      </blockquote>
    </p>
    {% endfor %}

{% endblock %}
