{% extends "layout.html.twig" %}

{% block title %}QuoteDico - Home{% endblock %}

{% block content %}

{% for quote in quotes %}

<article>
    <p>
    <blockquote>{{ quote.summary }}<br>
        <small>
          <a class="" href="/author/{{ quote.author.id }}">
          {{ quote.author.fName }} {{ quote.author.mName }} {{ quote.author.lName }}
          </a>
        </small>
        <p>Ajouté le {{ quote.date | date('d/m/Y') }} avec
        pour thème {{ quote.theme }}
      </blockquote>
    </p>
</article>

{% endfor %}
{% endblock %}
